<po-page-default p-title="Lista de Lembretes">

  <div class="po-row">
      <po-button [routerLink]="['/lembretes/new']" p-disabled="boolean" p-icon="po-icon-plus-circle"
        p-label="Criar Lembrete" p-loading="boolean" p-small="boolean" p-type="primary">
      </po-button>
  </div>

  <form [formGroup]="searchForm">
    <div class="po-row">
      <po-input class="po-md-12" formControlName="searchControl" p-clean p-icon="po-icon-search"
        (p-change-model)="search()" [(ngModel)]="searchQuery"> </po-input>
    </div>
  </form>

  <po-divider>
  </po-divider>

  <div class="row">
    <div class="col-xs-12 col-12">
      <div class="content-wrapper">
        <po-list-view *ngIf="returnedArray?.length > 0" p-property-title="name" [p-items]="returnedArray">
          <ng-template p-list-view-content-template let-item>
            <!-- Botao para Editar, devera executar um load no objeto. -->
            <po-button class="po-ml-1" [routerLink]="[item.id,'edit']" p-disabled="boolean" p-icon="po-icon-edit"
              p-label="Editar Lembrete" p-loading="boolean" p-small="boolean" p-type="string"> teste
            </po-button>

            <div class="po-row">
              <po-info class="po-sm-6" p-label="Titulo" [p-value]="item.titulo"></po-info>
              <po-info class="po-sm-6" p-label="Prioridade" [p-value]="item.prioridade"></po-info>
            </div>
          </ng-template>

          <ng-template p-list-view-detail-template let-item [p-show-detail]="showDetail">
            <div class="po-row">
              <po-info class="po-md-12" p-label="Descrição" [p-value]="item.descricao"></po-info>
            </div>
          </ng-template>
        </po-list-view>
      </div>
      <pagination [totalItems]="lembretes.length" [itemsPerPage]="1" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</po-page-default>
